<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/bulma.min.css">
    {% for script in page.scripts %}
        <script src="/assets/scripts/{{ script }}"></script>
    {% endfor %}
    <link rel="webmention" href="https://webmention.io/miccolis.github.io/webmention" />
</head>
<body>
    <section class="section">
    <div class="container columns">
        <div class="column is-three-quarters pb-0">
            <h1 class="title">{{ page.title }}</h1>
            <p class="subtitle">
                <strong>{{ page.subtitle }}</strong>
            </p>
        </div>
    </div>
    </section>
    <section class="section pt-0">

    <div class="container columns">

        <div class="column is-three-quarters">
            <div class="content">
            {{ content }}
            </div>
            <div class="mt-6 pt-2 pb-2 pl-4 has-background-light is-size-7">
                <a href="/">More posts...</a>
            </div>
        </div>

        <div class="column">
            <div class="content">
                <h4 class="mb-1">Jeff Miccolis</h4>
                <ul class="is-size-7 has-text-grey" style="list-style: symbols(cyclic '↳')";>
                    <li>
                        <a rel="me" href="https://mastodon.social/@miccolis">mastodon.social/@miccolis</a>
                    </li>
                    <li>
                        <a rel="me" href="https://github.com/miccolis">github.com/miccolis</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    </section>
</body>
