<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    {% for script in page.scripts %}
        <script src="/assets/scripts/{{ script }}"></script>
    {% endfor %}
</head>
<body>
    <section class="section">
    <div class="container columns">
        <div class="column is-three-quarters pb-0">
            <h1 class="title">{{ page.title }}</h1>
            <p class="subtitle">
                <strong>{{ page.subtitle }}</strong>
            </p>
        </div>
    </div>
    </section>
    <section class="section pt-0">

    <div class="container columns">

        <div class="column is-three-quarters">
            <div class="content">
            {{ content }}
            </div>
        </div>

        <div class="column">
            <div class="content">
                <h4 class="mb-1">Jeff Miccolis</h4>
                <div class="is-size-7">
                    <a href="https://mastodon.social/@miccolis">mastodon.social/@miccolis</a>
                </div>
            </div>
        </div>

    </div>
    </section>
</body>
